In [1]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

x = Gizmo()

Gizmo id: 137419627786448

In [4]:
y = Gizmo() *10

Gizmo id: 137419627781504

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [5]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x',
 'y']

In [6]:
charles = {'name': 'Charles L. Dodgson', 'born' : 1832}
lewis = charles

In [7]:
lewis is charles

True

In [8]:
id(charles), id(lewis)

(137419360260288, 137419360260288)

In [9]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [10]:
alex = {'name': 'Charles L. Dodgson', 'born' : 1832, 'balance': 950}
alex == charles

True

In [11]:
alex is charles

False

In [38]:
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [39]:
id(t1[-1])

137419408926592

In [40]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 137419408926592)

In [41]:
t1 == t2

False

In [42]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)

In [43]:
l1.append(100)

In [44]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [44], (7, 8, 9), 100]
l2: [3, [44], (7, 8, 9)]

In [45]:
l2[1] += [33, 22]
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [44, 33, 22], (7, 8, 9), 100]
l2: [3, [44, 33, 22], (7, 8, 9, 10, 11)]

In [46]:
class Bus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [47]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(137418520682624, 137418520683344, 137418520682864)

In [48]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [49]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(137418521443584, 137418521443584, 137419360345536)

In [50]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [52]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [53]:
def f(a, b):
  a += b
  return a

In [56]:
x = 1
y = 2
f(x, y), (x,y)

(3, (1, 2))

In [57]:
a = [1,2]
b = [3,4]
f(a, b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [58]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [59]:
class HauntedBus:

  def __init__(self, passengers = []):
    self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [63]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [64]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [66]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [67]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [68]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [69]:
bus2.passengers is bus3.passengers

True

In [70]:
bus1.passengers

['Bill', 'Charlie']

In [71]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [72]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [73]:
class TwilitghtBus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [74]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilitghtBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
bus.passengers

['Sue', 'Maya', 'Diana']

In [75]:
class TwilitghtBus:

  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [77]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilitghtBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [78]:
import weakref
s1 = {1,2,3}
s2 = s1

In [79]:
def bye():
  print('Gone with the wind...')

In [80]:
ender = weakref.finalize(s1, bye)
ender.alive

True

In [81]:
del s1
ender.alive

True

In [82]:
s2 = 'spam'

In [83]:
ender.alive

False